.chair {
	width: 50px;

	&__seat {
		height: 10px;
		background: brown;
	}

	&__legs{
		display: flex;
		justify-content: space-between;
	}

	&__leg {
		width: 10px;
		height: 50px;
		background: brown;
	}
}
